In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/201701.csv', encoding='cp949')

In [3]:
df.head()

,상가건물번호,건물구분,고시일자,법정동코드,특수지코드,번지,호,상가건물블록주소,상가건물동주소,건물층구분코드,상가건물층주소,상가건물호주소,고시가격(원),전유면적(㎡),공용면적(㎡)
0,38832,3,2017-01-01,4119011100,0,747,13,부성힐하우스,NaN,4,5,102동504호,1655000,77.12,63.34
1,38832,3,2017-01-01,4119011100,0,747,13,부성힐하우스,NaN,4,6,102동601호,1690000,78.13,64.19
2,38832,3,2017-01-01,4119011100,0,747,13,부성힐하우스,NaN,4,1,103호,4006000,38.00,10.74
3,38832,3,2017-01-01,4119011100,0,747,13,부성힐하우스,NaN,4,1,104호,4006000,43.61,12.29
4,38832,3,2017-01-01,4119011100,0,747,13,부성힐하우스,NaN,4,1,105호,4006000,45.50,12.84

In [4]:
index = pd.read_csv('data/index.csv', encoding='cp949')

In [5]:
index

   건물구분코드    내용  특수지코드                 내용.1  건물층구분코드 내용.2
0     1.0    상가      0                 일반지번      1.0   지하
1     2.0  오피스텔      1                    산      4.0   지상
2     3.0  복합건물      2             가,확정예정지번      5.0   옥탑
3     NaN   NaN      3  구,확정예정지번(부번이세분화된경우)      NaN  NaN
4     NaN   NaN      4                구획정리1      NaN  NaN
5     NaN   NaN      5                구획정리2      NaN  NaN
6     NaN   NaN      6                   블록      NaN  NaN
7     NaN   NaN      7                   구역      NaN  NaN
8     NaN   NaN      8                   단지      NaN  NaN
9     NaN   NaN      9                  무번지      NaN  NaN

In [19]:
code = pd.read_csv('data/code.txt', encoding='cp949')

In [11]:
code.head()

               법정동코드\t법정동명\t폐지여부
0          1100000000\t서울특별시\t존재
1      1111000000\t서울특별시 종로구\t존재
2  1111010100\t서울특별시 종로구 청운동\t존재
3  1111010200\t서울특별시 종로구 신교동\t존재
4  1111010300\t서울특별시 종로구 궁정동\t존재

In [14]:
code.columns

Index(['법정동코드\t법정동명\t폐지여부'], dtype='object')

In [22]:
code = code['법정동코드\t법정동명\t폐지여부'].str.split('\t', expand=True)

In [23]:
code.head()

            0              1   2
0  1100000000          서울특별시  존재
1  1111000000      서울특별시 종로구  존재
2  1111010100  서울특별시 종로구 청운동  존재
3  1111010200  서울특별시 종로구 신교동  존재
4  1111010300  서울특별시 종로구 궁정동  존재

In [24]:
code.columns = ['법정동코드', '법정동명', '폐지여부']

In [25]:
code.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [27]:
code['폐지여부'].describe()

count     46035
unique        2
top          폐지
freq      25493
Name: 폐지여부, dtype: object

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015586 entries, 0 to 1015585
Data columns (total 15 columns):
상가건물번호      1015586 non-null int64
건물구분        1015586 non-null int64
고시일자        1015586 non-null object
법정동코드       1015586 non-null int64
특수지코드       1015586 non-null int64
번지          1015586 non-null int64
호           1015586 non-null int64
상가건물블록주소    1015314 non-null object
상가건물동주소     980274 non-null object
건물층구분코드     1015586 non-null int64
상가건물층주소     1015586 non-null int64
상가건물호주소     1015583 non-null object
고시가격(원)     1015586 non-null int64
전유면적(㎡)     1015586 non-null float64
공용면적(㎡)     1015586 non-null float64
dtypes: float64(2), int64(9), object(4)
memory usage: 116.2+ MB

In [32]:
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46035 entries, 0 to 46034
Data columns (total 3 columns):
법정동코드    46035 non-null object
법정동명     46035 non-null object
폐지여부     46035 non-null object
dtypes: object(3)
memory usage: 1.1+ MB

In [34]:
code['법정동코드'] = code['법정동코드'].astype(float)

In [35]:
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46035 entries, 0 to 46034
Data columns (total 3 columns):
법정동코드    46035 non-null float64
법정동명     46035 non-null object
폐지여부     46035 non-null object
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [36]:
df['법정동코드'] = df['법정동코드'].astype(float)

In [39]:
df = df.merge(code, on='법정동코드')

In [42]:
df = df.loc[df['법정동명'].str.startswith('서울특별시')]

In [56]:
df.head()

,상가건물번호,건물구분,고시일자,법정동코드,특수지코드,번지,호,상가건물블록주소,상가건물동주소,건물층구분코드,상가건물층주소,상가건물호주소,고시가격(원),전유면적(㎡),공용면적(㎡),법정동명,폐지여부
2126,38835,3,2017-01-01,1.144010e+09,0,571,0,나눔빌딩,1(단일),4,1,101,7620000,45.67,41.959,서울특별시 마포구 도화동,존재
2127,38835,3,2017-01-01,1.144010e+09,0,571,0,나눔빌딩,1(단일),4,1,102,7620000,37.41,34.370,서울특별시 마포구 도화동,존재
2128,38835,3,2017-01-01,1.144010e+09,0,571,0,나눔빌딩,1(단일),4,1,103,7620000,37.41,34.370,서울특별시 마포구 도화동,존재
2129,38835,3,2017-01-01,1.144010e+09,0,571,0,나눔빌딩,1(단일),4,1,105,7655000,74.82,68.741,서울특별시 마포구 도화동,존재
2130,38835,3,2017-01-01,1.144010e+09,0,571,0,나눔빌딩,1(단일),4,1,106,8496000,42.30,38.863,서울특별시 마포구 도화동,존재

In [45]:
df['법정동명'].unique()

array(['서울특별시 마포구 도화동', '서울특별시 중구 황학동', '서울특별시 동작구 대방동', '서울특별시 은평구 응암동',
       '서울특별시 관악구 봉천동', '서울특별시 강서구 화곡동', '서울특별시 종로구 연지동', '서울특별시 관악구 신림동',
       '서울특별시 구로구 가리봉동', '서울특별시 금천구 독산동', '서울특별시 용산구 원효로3가',
       '서울특별시 은평구 녹번동', '서울특별시 은평구 역촌동', '서울특별시 양천구 신월동', '서울특별시 은평구 신사동',
       '서울특별시 송파구 장지동', '서울특별시 도봉구 창동', '서울특별시 중랑구 면목동',
       '서울특별시 영등포구 영등포동2가', '서울특별시 강북구 번동', '서울특별시 성북구 석관동',
       '서울특별시 영등포구 당산동4가', '서울특별시 성동구 성수동1가', '서울특별시 송파구 문정동',
       '서울특별시 영등포구 양평동4가', '서울특별시 강동구 길동', '서울특별시 강동구 강일동',
       '서울특별시 강동구 천호동', '서울특별시 영등포구 당산동5가', '서울특별시 중랑구 묵동',
       '서울특별시 서대문구 북가좌동', '서울특별시 동작구 노량진동', '서울특별시 동작구 신대방동',
       '서울특별시 송파구 거여동', '서울특별시 도봉구 쌍문동', '서울특별시 양천구 목동', '서울특별시 중랑구 신내동',
       '서울특별시 광진구 화양동', '서울특별시 중구 신당동', '서울특별시 도봉구 방학동', '서울특별시 강서구 등촌동',
       '서울특별시 영등포구 양평동3가', '서울특별시 은평구 대조동', '서울특별시 은평구 불광동',
       '서울특별시 송파구 가락동', '서울특별시 구로구 구로동', '서울특별시 영등포구 영등포동1가',
       '서울특별시 서초구 신원동', '서울특별시 광진구 중곡동', '서울특별시 강북구 수유동', '서울특별시 마포구 공덕동',
       '서울특별시 금천구 시흥동', '서울특별시 영등포구 양평동6가', '서울특별시 영등포구 당산동6가',
       '서울특별시 영등포구 양평동1가', '서울특별시 성동구 성수동2가', '서울특별시 강서구 마곡동',
       '서울특별시 서초구 서초동', '서울특별시 강남구 세곡동', '서울특별시 성북구 종암동',
       '서울특별시 영등포구 영등포동8가', '서울특별시 종로구 숭인동', '서울특별시 성동구 용답동',
       '서울특별시 관악구 남현동', '서울특별시 서초구 방배동', '서울특별시 강남구 삼성동', '서울특별시 양천구 신정동',
       '서울특별시 영등포구 당산동', '서울특별시 송파구 오금동', '서울특별시 동대문구 장안동',
       '서울특별시 동작구 사당동', '서울특별시 영등포구 영등포동4가', '서울특별시 은평구 구산동',
       '서울특별시 동대문구 제기동', '서울특별시 금천구 가산동', '서울특별시 동대문구 청량리동',
       '서울특별시 동대문구 이문동', '서울특별시 중랑구 상봉동', '서울특별시 중랑구 중화동',
       '서울특별시 중랑구 망우동', '서울특별시 성북구 성북동1가', '서울특별시 성북구 동소문동6가',
       '서울특별시 성북구 동선동1가', '서울특별시 성북구 동선동3가', '서울특별시 성북구 안암동2가',
       '서울특별시 성북구 안암동3가', '서울특별시 성북구 안암동4가', '서울특별시 성북구 보문동2가',
       '서울특별시 성북구 하월곡동', '서울특별시 성북구 장위동', '서울특별시 강북구 미아동',
       '서울특별시 종로구 적선동', '서울특별시 종로구 필운동', '서울특별시 종로구 당주동', '서울특별시 종로구 내수동',
       '서울특별시 종로구 혜화동', '서울특별시 종로구 운니동', '서울특별시 종로구 인사동', '서울특별시 종로구 낙원동',
       '서울특별시 종로구 돈의동', '서울특별시 종로구 원남동', '서울특별시 종로구 효제동',
       '서울특별시 종로구 종로5가', '서울특별시 종로구 종로6가', '서울특별시 중구 명동2가',
       '서울특별시 종로구 연건동', '서울특별시 종로구 명륜4가', '서울특별시 종로구 창신동',
       '서울특별시 종로구 평창동', '서울특별시 종로구 부암동', '서울특별시 중구 중림동', '서울특별시 중구 남창동',
       '서울특별시 중구 회현동1가', '서울특별시 중구 충무로1가', '서울특별시 중구 충무로4가',
       '서울특별시 중구 광희동1가', '서울특별시 중구 을지로6가', '서울특별시 중구 을지로5가',
       '서울특별시 중구 주교동', '서울특별시 중구 을지로3가', '서울특별시 성동구 도선동', '서울특별시 중구 흥인동',
       '서울특별시 용산구 후암동', '서울특별시 용산구 원효로2가', '서울특별시 용산구 도원동',
       '서울특별시 용산구 문배동', '서울특별시 용산구 한강로2가', '서울특별시 용산구 한강로3가',
       '서울특별시 용산구 이촌동', '서울특별시 용산구 한남동', '서울특별시 성동구 상왕십리동',
       '서울특별시 성동구 마장동', '서울특별시 성동구 행당동', '서울특별시 성동구 응봉동',
       '서울특별시 성동구 금호동1가', '서울특별시 성동구 금호동4가', '서울특별시 성동구 송정동',
       '서울특별시 광진구 능동', '서울특별시 광진구 구의동', '서울특별시 광진구 광장동', '서울특별시 광진구 자양동',
       '서울특별시 광진구 군자동', '서울특별시 동대문구 신설동', '서울특별시 동대문구 용두동',
       '서울특별시 동대문구 전농동', '서울특별시 동대문구 답십리동', '서울특별시 강서구 방화동',
       '서울특별시 노원구 월계동', '서울특별시 노원구 공릉동', '서울특별시 노원구 하계동', '서울특별시 노원구 상계동',
       '서울특별시 강서구 가양동', '서울특별시 강서구 내발산동', '서울특별시 구로구 신도림동',
       '서울특별시 노원구 중계동', '서울특별시 은평구 갈현동', '서울특별시 마포구 서교동',
       '서울특별시 서대문구 대현동', '서울특별시 서대문구 창천동', '서울특별시 서대문구 연희동',
       '서울특별시 서대문구 홍은동', '서울특별시 서대문구 남가좌동', '서울특별시 마포구 아현동',
       '서울특별시 마포구 마포동', '서울특별시 마포구 대흥동', '서울특별시 마포구 염리동',
       '서울특별시 마포구 노고산동', '서울특별시 마포구 창전동', '서울특별시 마포구 상수동',
       '서울특별시 마포구 동교동', '서울특별시 마포구 합정동', '서울특별시 마포구 망원동', '서울특별시 마포구 성산동',
       '서울특별시 마포구 중동', '서울특별시 강서구 염창동', '서울특별시 서초구 양재동', '서울특별시 서초구 우면동',
       '서울특별시 서초구 잠원동', '서울특별시 서초구 반포동', '서울특별시 구로구 고척동', '서울특별시 구로구 개봉동',
       '서울특별시 구로구 오류동', '서울특별시 구로구 궁동', '서울특별시 영등포구 영등포동',
       '서울특별시 영등포구 영등포동3가', '서울특별시 영등포구 영등포동5가', '서울특별시 영등포구 영등포동7가',
       '서울특별시 영등포구 여의도동', '서울특별시 영등포구 당산동2가', '서울특별시 영등포구 당산동3가',
       '서울특별시 영등포구 도림동', '서울특별시 영등포구 문래동3가', '서울특별시 영등포구 문래동5가',
       '서울특별시 영등포구 양평동2가', '서울특별시 영등포구 신길동', '서울특별시 영등포구 양평동5가',
       '서울특별시 영등포구 대림동', '서울특별시 동작구 상도동', '서울특별시 강남구 역삼동',
       '서울특별시 강남구 율현동', '서울특별시 강남구 개포동', '서울특별시 강남구 청담동', '서울특별시 강남구 대치동',
       '서울특별시 강남구 수서동', '서울특별시 강남구 논현동', '서울특별시 강남구 신사동', '서울특별시 강남구 일원동',
       '서울특별시 강남구 도곡동', '서울특별시 송파구 잠실동', '서울특별시 송파구 신천동', '서울특별시 송파구 풍납동',
       '서울특별시 송파구 송파동', '서울특별시 송파구 방이동', '서울특별시 강동구 명일동', '서울특별시 송파구 마천동',
       '서울특별시 강동구 성내동', '서울특별시 강동구 암사동', '서울특별시 성동구 옥수동', '서울특별시 강동구 둔촌동',
       '서울특별시 도봉구 도봉동', '서울특별시 성북구 돈암동', '서울특별시 송파구 석촌동', '서울특별시 중구 산림동',
       '서울특별시 중구 충무로2가', '서울특별시 중구 오장동', '서울특별시 중구 장교동', '서울특별시 종로구 구기동',
       '서울특별시 용산구 이태원동', '서울특별시 마포구 신정동', '서울특별시 서대문구 충정로2가',
       '서울특별시 강남구 압구정동', '서울특별시 용산구 서계동', '서울특별시 영등포구 문래동6가',
       '서울특별시 성북구 동소문동4가', '서울특별시 동대문구 휘경동', '서울특별시 종로구 무악동',
       '서울특별시 중구 소공동', '서울특별시 용산구 산천동', '서울특별시 성북구 길음동',
       '서울특별시 서대문구 북아현동', '서울특별시 서대문구 홍제동', '서울특별시 영등포구 당산동1가',
       '서울특별시 동작구 흑석동', '서울특별시 중구 필동1가', '서울특별시 중구 의주로1가',
       '서울특별시 서대문구 충정로3가', '서울특별시 영등포구 문래동1가', '서울특별시 강서구 공항동',
       '서울특별시 종로구 익선동', '서울특별시 중구 충무로5가', '서울특별시 중구 만리동2가',
       '서울특별시 용산구 갈월동', '서울특별시 용산구 용문동', '서울특별시 용산구 한강로1가',
       '서울특별시 종로구 수송동', '서울특별시 성동구 하왕십리동', '서울특별시 종로구 관철동',
       '서울특별시 중구 만리동1가', '서울특별시 용산구 원효로1가', '서울특별시 종로구 명륜2가',
       '서울특별시 성북구 동선동4가', '서울특별시 종로구 견지동', '서울특별시 영등포구 영등포동6가',
       '서울특별시 중구 광희동2가', '서울특별시 종로구 경운동', '서울특별시 종로구 신문로1가',
       '서울특별시 종로구 홍지동', '서울특별시 중구 을지로2가', '서울특별시 중구 남대문로5가',
       '서울특별시 중구 명동1가', '서울특별시 중구 을지로7가', '서울특별시 동대문구 회기동',
       '서울특별시 성북구 삼선동5가', '서울특별시 성북구 정릉동', '서울특별시 성북구 상월곡동',
       '서울특별시 서대문구 합동', '서울특별시 마포구 상암동', '서울특별시 마포구 신공덕동',
       '서울특별시 성북구 동소문동5가', '서울특별시 서대문구 미근동', '서울특별시 성동구 금호동3가',
       '서울특별시 종로구 서린동', '서울특별시 서대문구 현저동', '서울특별시 종로구 종로1가',
       '서울특별시 종로구 관훈동', '서울특별시 중구 예장동', '서울특별시 중구 순화동', '서울특별시 서대문구 대신동',
       '서울특별시 마포구 연남동', '서울특별시 종로구 사직동', '서울특별시 서대문구 신촌동',
       '서울특별시 용산구 청파동2가', '서울특별시 용산구 용산동5가', '서울특별시 송파구 삼전동',
       '서울특별시 중구 장충동2가', '서울특별시 중구 무학동', '서울특별시 은평구 수색동', '서울특별시 은평구 증산동',
       '서울특별시 서대문구 냉천동', '서울특별시 종로구 충신동', '서울특별시 중구 다동', '서울특별시 은평구 진관동',
       '서울특별시 강동구 고덕동', '서울특별시 구로구 천왕동', '서울특별시 성북구 보문동4가',
       '서울특별시 성동구 금호동2가', '서울특별시 중구 충무로3가', '서울특별시 용산구 동자동',
       '서울특별시 동작구 동작동', '서울특별시 강남구 자곡동', '서울특별시 성북구 삼선동4가',
       '서울특별시 마포구 용강동'], dtype=object)

In [72]:
df['법정동'] = df['법정동명'].str.split(' ', expand=True)[2]

In [73]:
df.head()

,상가건물번호,건물구분,고시일자,법정동코드,특수지코드,번지,호,상가건물블록주소,상가건물동주소,건물층구분코드,상가건물층주소,상가건물호주소,고시가격(원),전유면적(㎡),공용면적(㎡),법정동명,폐지여부,법정동
2126,38835,3,2017-01-01,1.144010e+09,0,571,0,나눔빌딩,1(단일),4,1,101,7620000,45.67,41.959,서울특별시 마포구 도화동,존재,도화동
2127,38835,3,2017-01-01,1.144010e+09,0,571,0,나눔빌딩,1(단일),4,1,102,7620000,37.41,34.370,서울특별시 마포구 도화동,존재,도화동
2128,38835,3,2017-01-01,1.144010e+09,0,571,0,나눔빌딩,1(단일),4,1,103,7620000,37.41,34.370,서울특별시 마포구 도화동,존재,도화동
2129,38835,3,2017-01-01,1.144010e+09,0,571,0,나눔빌딩,1(단일),4,1,105,7655000,74.82,68.741,서울특별시 마포구 도화동,존재,도화동
2130,38835,3,2017-01-01,1.144010e+09,0,571,0,나눔빌딩,1(단일),4,1,106,8496000,42.30,38.863,서울특별시 마포구 도화동,존재,도화동

In [75]:
df['법정동코드'] = df['법정동코드'].astype(int)

In [76]:
df.head()

,상가건물번호,건물구분,고시일자,법정동코드,특수지코드,번지,호,상가건물블록주소,상가건물동주소,건물층구분코드,상가건물층주소,상가건물호주소,고시가격(원),전유면적(㎡),공용면적(㎡),법정동명,폐지여부,법정동
2126,38835,3,2017-01-01,1144010400,0,571,0,나눔빌딩,1(단일),4,1,101,7620000,45.67,41.959,서울특별시 마포구 도화동,존재,도화동
2127,38835,3,2017-01-01,1144010400,0,571,0,나눔빌딩,1(단일),4,1,102,7620000,37.41,34.370,서울특별시 마포구 도화동,존재,도화동
2128,38835,3,2017-01-01,1144010400,0,571,0,나눔빌딩,1(단일),4,1,103,7620000,37.41,34.370,서울특별시 마포구 도화동,존재,도화동
2129,38835,3,2017-01-01,1144010400,0,571,0,나눔빌딩,1(단일),4,1,105,7655000,74.82,68.741,서울특별시 마포구 도화동,존재,도화동
2130,38835,3,2017-01-01,1144010400,0,571,0,나눔빌딩,1(단일),4,1,106,8496000,42.30,38.863,서울특별시 마포구 도화동,존재,도화동

In [77]:
df['법정동'].unique()

array(['도화동', '황학동', '대방동', '응암동', '봉천동', '화곡동', '연지동', '신림동', '가리봉동',
       '독산동', '원효로3가', '녹번동', '역촌동', '신월동', '신사동', '장지동', '창동', '면목동',
       '영등포동2가', '번동', '석관동', '당산동4가', '성수동1가', '문정동', '양평동4가', '길동',
       '강일동', '천호동', '당산동5가', '묵동', '북가좌동', '노량진동', '신대방동', '거여동', '쌍문동',
       '목동', '신내동', '화양동', '신당동', '방학동', '등촌동', '양평동3가', '대조동', '불광동',
       '가락동', '구로동', '영등포동1가', '신원동', '중곡동', '수유동', '공덕동', '시흥동', '양평동6가',
       '당산동6가', '양평동1가', '성수동2가', '마곡동', '서초동', '세곡동', '종암동', '영등포동8가',
       '숭인동', '용답동', '남현동', '방배동', '삼성동', '신정동', '당산동', '오금동', '장안동',
       '사당동', '영등포동4가', '구산동', '제기동', '가산동', '청량리동', '이문동', '상봉동', '중화동',
       '망우동', '성북동1가', '동소문동6가', '동선동1가', '동선동3가', '안암동2가', '안암동3가',
       '안암동4가', '보문동2가', '하월곡동', '장위동', '미아동', '적선동', '필운동', '당주동', '내수동',
       '혜화동', '운니동', '인사동', '낙원동', '돈의동', '원남동', '효제동', '종로5가', '종로6가',
       '명동2가', '연건동', '명륜4가', '창신동', '평창동', '부암동', '중림동', '남창동', '회현동1가',
       '충무로1가', '충무로4가', '광희동1가', '을지로6가', '을지로5가', '주교동', '을지로3가', '도선동',
       '흥인동', '후암동', '원효로2가', '도원동', '문배동', '한강로2가', '한강로3가', '이촌동',
       '한남동', '상왕십리동', '마장동', '행당동', '응봉동', '금호동1가', '금호동4가', '송정동', '능동',
       '구의동', '광장동', '자양동', '군자동', '신설동', '용두동', '전농동', '답십리동', '방화동',
       '월계동', '공릉동', '하계동', '상계동', '가양동', '내발산동', '신도림동', '중계동', '갈현동',
       '서교동', '대현동', '창천동', '연희동', '홍은동', '남가좌동', '아현동', '마포동', '대흥동',
       '염리동', '노고산동', '창전동', '상수동', '동교동', '합정동', '망원동', '성산동', '중동',
       '염창동', '양재동', '우면동', '잠원동', '반포동', '고척동', '개봉동', '오류동', '궁동',
       '영등포동', '영등포동3가', '영등포동5가', '영등포동7가', '여의도동', '당산동2가', '당산동3가',
       '도림동', '문래동3가', '문래동5가', '양평동2가', '신길동', '양평동5가', '대림동', '상도동',
       '역삼동', '율현동', '개포동', '청담동', '대치동', '수서동', '논현동', '일원동', '도곡동',
       '잠실동', '신천동', '풍납동', '송파동', '방이동', '명일동', '마천동', '성내동', '암사동',
       '옥수동', '둔촌동', '도봉동', '돈암동', '석촌동', '산림동', '충무로2가', '오장동', '장교동',
       '구기동', '이태원동', '충정로2가', '압구정동', '서계동', '문래동6가', '동소문동4가', '휘경동',
       '무악동', '소공동', '산천동', '길음동', '북아현동', '홍제동', '당산동1가', '흑석동', '필동1가',
       '의주로1가', '충정로3가', '문래동1가', '공항동', '익선동', '충무로5가', '만리동2가', '갈월동',
       '용문동', '한강로1가', '수송동', '하왕십리동', '관철동', '만리동1가', '원효로1가', '명륜2가',
       '동선동4가', '견지동', '영등포동6가', '광희동2가', '경운동', '신문로1가', '홍지동', '을지로2가',
       '남대문로5가', '명동1가', '을지로7가', '회기동', '삼선동5가', '정릉동', '상월곡동', '합동',
       '상암동', '신공덕동', '동소문동5가', '미근동', '금호동3가', '서린동', '현저동', '종로1가',
       '관훈동', '예장동', '순화동', '대신동', '연남동', '사직동', '신촌동', '청파동2가', '용산동5가',
       '삼전동', '장충동2가', '무학동', '수색동', '증산동', '냉천동', '충신동', '다동', '진관동',
       '고덕동', '천왕동', '보문동4가', '금호동2가', '충무로3가', '동자동', '동작동', '자곡동',
       '삼선동4가', '용강동'], dtype=object)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374889 entries, 2126 to 1015186
Data columns (total 18 columns):
상가건물번호      374889 non-null int64
건물구분        374889 non-null int64
고시일자        374889 non-null object
법정동코드       374889 non-null int32
특수지코드       374889 non-null int64
번지          374889 non-null int64
호           374889 non-null int64
상가건물블록주소    374650 non-null object
상가건물동주소     364256 non-null object
건물층구분코드     374889 non-null int64
상가건물층주소     374889 non-null int64
상가건물호주소     374889 non-null object
고시가격(원)     374889 non-null int64
전유면적(㎡)     374889 non-null float64
공용면적(㎡)     374889 non-null float64
법정동명        374889 non-null object
폐지여부        374889 non-null object
법정동         374889 non-null object
dtypes: float64(2), int32(1), int64(8), object(7)
memory usage: 62.9+ MB

In [79]:
df = df.loc[df['건물구분']!=2]

In [81]:
df.columns

Index(['상가건물번호', '건물구분', '고시일자', '법정동코드', '특수지코드', '번지', '호', '상가건물블록주소',
       '상가건물동주소', '건물층구분코드', '상가건물층주소', '상가건물호주소', '고시가격(원)', '전유면적(㎡)',
       '공용면적(㎡)', '법정동명', '폐지여부', '법정동'],
      dtype='object')

In [85]:
df_17 = df[['상가건물번호', '번지', '상가건물블록주소', '고시가격(원)', '전유면적(㎡)', '법정동명', '법정동']]

In [103]:
df_17['평당고시가격(원)'] = df_17['고시가격(원)']/df_17['전유면적(㎡)']

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [107]:
df_17.head()

,상가건물번호,번지,상가건물블록주소,고시가격(원),전유면적(㎡),법정동명,법정동,평당고시가격(원)
2126,38835,571,나눔빌딩,7620000,45.67,서울특별시 마포구 도화동,도화동,166849.135100
2127,38835,571,나눔빌딩,7620000,37.41,서울특별시 마포구 도화동,도화동,203688.853248
2128,38835,571,나눔빌딩,7620000,37.41,서울특별시 마포구 도화동,도화동,203688.853248
2129,38835,571,나눔빌딩,7655000,74.82,서울특별시 마포구 도화동,도화동,102312.215985
2130,38835,571,나눔빌딩,8496000,42.30,서울특별시 마포구 도화동,도화동,200851.063830

In [110]:
price = df_17.groupby(['상가건물번호', '상가건물블록주소', '법정동명', '법정동', '번지'])['평당고시가격(원)'].mean().reset_index()

In [111]:
import numpy as np

In [113]:
price.head()

   상가건물번호   상가건물블록주소             법정동명   법정동   번지      평당고시가격(원)
0       1     신부파스칼텔   서울특별시 동대문구 장안동   장안동  431   70607.558949
1       2     청암오피스텔   서울특별시 동대문구 장안동   장안동  466   32858.558637
2       3       미주상가  서울특별시 동대문구 청량리동  청량리동  235   43513.644766
3       4  청량리현대코아동관  서울특별시 동대문구 청량리동  청량리동  738  107859.707487
4       5        파크빌   서울특별시 동대문구 이문동   이문동  257   62146.785044

In [117]:
price['평당고시가격(원)'] = round(price['평당고시가격(원)']).astype(int)
price.head()

   상가건물번호   상가건물블록주소             법정동명   법정동   번지  평당고시가격(원)
0       1     신부파스칼텔   서울특별시 동대문구 장안동   장안동  431      70608
1       2     청암오피스텔   서울특별시 동대문구 장안동   장안동  466      32859
2       3       미주상가  서울특별시 동대문구 청량리동  청량리동  235      43514
3       4  청량리현대코아동관  서울특별시 동대문구 청량리동  청량리동  738     107860
4       5        파크빌   서울특별시 동대문구 이문동   이문동  257      62147

In [118]:
price.sort_values(by='평당고시가격(원)', ascending=False)

      상가건물번호      상가건물블록주소               법정동명     법정동    번지  평당고시가격(원)
817     4231      제일평화시장상가       서울특별시 중구 신당동     신당동   775    8921790
81       136        에어리어식스       서울특별시 중구 신당동     신당동   776    3364786
838     4331       남대문코코클럽       서울특별시 중구 남창동     남창동    52    2959045
822     4239         몰리지패션     서울특별시 중구 충무로2가   충무로2가    63    2848366
79       133         청평화시장       서울특별시 중구 신당동     신당동   217    2700640
819     4233       신평화패션타운       서울특별시 중구 신당동     신당동   217    2181706
78       132         아트프라자       서울특별시 중구 신당동     신당동   213    2095242
64       109        명동캣츠빌딩     서울특별시 중구 충무로1가   충무로1가    24    1957082
63       108        밀리오레명동     서울특별시 중구 충무로1가   충무로1가    24    1920240
1511   22066           디오트       서울특별시 중구 신당동     신당동   193    1893327
48        76       동대문종합상가     서울특별시 종로구 종로6가    종로6가   262    1881918
49        77       동대문종합상가     서울특별시 종로구 종로6가    종로6가   289    1869760
841     4335        디자이너크럽       서울특별시 중구 신당동     신당동   199    1845054
74       128        에이.피.엠       서울특별시 중구 신당동     신당동   198    1713012
80       135         남평화상가       서울특별시 중구 신당동     신당동   772    1669453
1505   22060         하이해리엇     서울특별시 중구 충무로2가   충무로2가    65    1599023
839     4333          밀리오레     서울특별시 중구 을지로6가   을지로6가    18    1576205
77       131         엠씨프라자       서울특별시 중구 신당동     신당동   213    1382597
1103   18446      제일평화시장상가       서울특별시 중구 신당동     신당동   774    1352467
1104   18447       신평화패션타운       서울특별시 중구 신당동     신당동   217    1351107
65       110          포라리스      서울특별시 중구 명동2가    명동2가    53    1349764
69       116       헬로우에이피엠     서울특별시 중구 을지로6가   을지로6가    18    1208376
823     4240         프리엠상가     서울특별시 중구 충무로2가   충무로2가    66    1195071
1107   18529        (51­1)       서울특별시 중구 남창동     남창동    51    1132823
818     4232          광희시장       서울특별시 중구 신당동     신당동   777    1065078
1354   20007          MESA     서울특별시 중구 회현동1가   회현동1가   204    1048973
1999   24778         주공아파트      서울특별시 강동구 둔촌동     둔촌동   172     963655
62        96        삼익패션상가       서울특별시 중구 남창동     남창동     5     901558
1507   22062        라모도쇼핑몰     서울특별시 중구 을지로7가   을지로7가   105     871339
2027   25065            유타    서울특별시 성북구 동선동1가   동선동1가     1     844214
...      ...           ...                ...     ...   ...        ...
1808   24046          88­0      서울특별시 종로구 서린동     서린동    88       2858
2449   35151          동신빌딩      서울특별시 송파구 잠실동     잠실동   181       2714
2380   32912         우성아트빌       서울특별시 강동구 길동      길동   385       2650
843     4339         동호프라자     서울특별시 용산구 이태원동    이태원동   183       2258
2535   37647         31­26     서울특별시 서대문구 창천동     창천동    31       2189
2573   38532       상봉듀오트리스      서울특별시 중랑구 상봉동     상봉동   501       2071
115      194          동성빌딩    서울특별시 성동구 성수동2가   성수동2가   277       1954
978     4963          중앙유통      서울특별시 구로구 구로동     구로동  1258       1948
1227   18735       중앙아파트상가      서울특별시 강동구 성내동     성내동   513       1938
1450   20714     청암두산위브센티움      서울특별시 관악구 신림동     신림동    86       1825
411      709     신반포중앙쇼핑센터      서울특별시 서초구 잠원동     잠원동    65       1447
1120   18558          두봉빌딩     서울특별시 동대문구 장안동     장안동   462       1361
1228   18737          일신빌딩      서울특별시 강동구 천호동     천호동   332       1320
1174   18634     대림2차우성아파트      서울특별시 구로구 구로동     구로동   120       1302
184      292         대감프라자      서울특별시 노원구 상계동     상계동   366       1240
1696   23125         청화아파트     서울특별시 용산구 이태원동    이태원동    22       1173
422      720         신반포상가      서울특별시 서초구 반포동     반포동     2       1148
537      885          양평빌딩   서울특별시 영등포구 양평동2가   양평동2가    37       1059
1186   18652      영등포현대프라자  서울특별시 영등포구 영등포동5가  영등포동5가    49        862
1707   23139          영풍빌딩      서울특별시 종로구 서린동     서린동    33        861
2532   37592     목동센트럴푸르지오       서울특별시 양천구 목동      목동   404        780
144      233         전농프라자     서울특별시 동대문구 전농동     전농동   647        719
1195   18665      백악관웨딩문화원     서울특별시 영등포구 신길동     신길동   253        573
1863   24134  서강한화오벨리스크스위트      서울특별시 마포구 창전동     창전동   442        457
1976   24745    광장현대3단지아파트      서울특별시 광진구 광장동     광장동   484        385
2586   38879        서희스타힐스      서울특별시 관악구 봉천동     봉천동  1729        377
835     4322        새한코코마트      서울특별시 성북구 장위동     장위동    68        342
1954   24681    유림노르웨이숲아파트      서울특별시 강서구 화곡동     화곡동   919        341
124      205      (626­16)      서울특별시 광진구 중곡동     중곡동   626        182
1739   23325       상계주공아파트      서울특별시 노원구 상계동     상계동   624        113

[2628 rows x 6 columns]